<!DOCTYPE html>
{% extends "admin_index.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="mb-0">Basic Layout</h5>
    </div>
    <div class="card-body">
      <form action="{% url 'updateproduct' prdtid=data.id %}" enctype="multipart/form-data" method="post">
       {% csrf_token %}
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="basic-default-company">Category Name</label>
          <div class="col-sm-10">
            <select class="form-select" name="category" id="exampleFormControlSelect1" aria-label="Default select example">
              <option selected="">{{data.categoryname}}</option>
              
              {% for i in catdata %}
              <option>{{i.categoryname}}</option>
              {% endfor %}
              
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="basic-default-company">Product Name</label>
          <div class="col-sm-10">
            <input type="text" name="name" class="form-control" value="{{data.product_name}}" id="basic-default-company" placeholder="Product Name">
          </div>
        </div>
       
        
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="basic-default-message">Description</label>
          <div class="col-sm-10">
            <textarea id="basic-default-message" name="description"  class="form-control" placeholder="Product Description" aria-label="Hi, Do you have a moment to talk Joe?" aria-describedby="basic-icon-default-message2">{{data.description}}</textarea>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="basic-default-company">Product Image</label>
          <div class="col-sm-10">
            <img src="{{data.product_image.url}}" class="mb-2" alt="Category Image" style="width: 150px; height: 100px;border-radius: 15px;">

            <input type="file" name="imgg" class="form-control" id="basic-default-company" placeholder="ACME Inc.">
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="basic-default-company">Price</label>
          <div class="col-sm-10">
            <input type="text" name="price" class="form-control" value="{{data.price}}" id="basic-default-company" placeholder="Price">
          </div>
        </div>

        <div class="row justify-content-end">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">EDIT</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert/dist/sweetalert.min.js"></script>

  {% if messages %}

    {% for i in messages %}
  
        {% if i.tags == "success" %}

          <script>
  
                swal('{{i}}','','success');

          </script>

        {% elif i.tags == "error" %}

          <script>
  
                swal('{{i}}','','error');

          </script>

        {% elif i.tags == "warning" %}

          <script>
  
                swal('{{i}}','','warning');

          </script>

        {% else %}

          <script>
  
                swal('{{i}}','','info');

          </script>

        {% endif %}
      
      {% endfor %}

  {% endif %}
  
</body>
</html>
{% endblock %}